.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.add-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.todo-list li {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.todo-list li img {
  max-width: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.delete, .edit {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background-color: #f44336;
  color: white;
}

.edit {
  background-color: #2196F3;
  color: white;
}

.success-message,
.error-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
}

.success-message {
  background-color: #4CAF50;
}

.error-message {
  background-color: #f44336;
}

.loading {
  font-size: 18px;
  margin: 20px 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.modal-btn.cancel {
  background-color: #f44336;
  color: white;
}

.modal-btn {
  background-color: #4CAF50;
  color: white;
}

.view-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}
